<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listes Des Demandes </h4>
                        </li>
                        <!-- <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Tables</a>
                        </li>
                        <li class="breadcrumb-item active">ngx-datatable</li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="ngx-search" placeholder="Chercher ...."
                                    (keyup)='filterDatatable($event)'>
                                <ngx-datatable #table class="material" [rows]="listDemandes" [columns]="cols"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [limit]="10">

                                    <ngx-datatable-column name="Nom assure" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="Demande" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="Date de creation de demande" [width]="200">
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Détails" sortable="false" [width]="120">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span>

                                                <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                    data-target="#detailModal" (click)='detailRow(row)'>
                                                    <i class="material-icons">description</i>
                                                </button>

                                                <!-- <button class="btn tblActnBtn h-auto" (click)='detailRow(row)'>
                                                    <i class="material-icons">description</i>
                                                </button>-->
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                </ngx-datatable>





                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="detailRowModal">
                                                                <div class="modal-header clearfix">
                                                                    <div class="modal-about">
                                                                        <div class="font-weight-bold p-t-10 font-17">
                                                                            Voir tous les details de demande Constat</div>




                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 1.Date de l'accident:</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>



                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 2.Lieu :</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 3.Blessé:</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 4.Dégats matériels:</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 5.Témoins:</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 6.Circonstances:</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <div class="modal-header">
                                                                                <div class="editRowModal">
                                                                                    <div class="modal-header clearfix">
                                                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                                        <div class="modal-about">
                                                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                                                 7.Conducteur:</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            


                                                                            <div class="modal-footer">
                                                                                <div class="button-demo">
                                                                                    <button type="submit" (click)="confirmerDemande()"
                                                                                        class="btn btn-outline-success btn-border-radius">confirmer</button>
                                                                                    <button type="button"
                                                                                        class="btn btn-outline-warning btn-border-radius"
                                                                                        data-dismiss="modal">refuser</button>
                                                                                </div>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn p-t-10 modal-close-button"
                                                                data-dismiss="modal" aria-label="Close">
                                                                <i class="material-icons">clear</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            