<section class="content">
    <div class="container-fluid">
        <!-- Basic Examples -->
      
            <div class="block-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Listes Des Utilisateurs </h4>
                            </li>
                            <!-- <li class="breadcrumb-item bcrumb-1">
                                <a routerLink="/dashboard/main">
                                    <i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item bcrumb-2">
                                <a href="#" onClick="return false;">Tables</a>
                            </li>
                            <li class="breadcrumb-item active">ngx-datatable</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">

                                    <ul class="header-buttons-left m-l-5">
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon"> search</i></label>
                                            <input placeholder="Chercher" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>

                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <div class="icon-button-demo">
                                                <button type="button" data-toggle="modal" data-target="#addModal"
                                                    (click)='addRow()'
                                                    class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons col-white" style="padding-top: 1px">add</i>
                                                </button>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="listUstilisateurs" [columns]="columns"
                                [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'60'" [limit]="10">
                                 
                                  <!--- <ngx-datatable-column name="Nom" [width]="170" ></ngx-datatable-column>
                                    <ngx-datatable-column name="Prenom" [width]="180"></ngx-datatable-column>
                                    <ngx-datatable-column name="Date De Naissance" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="adresse" [width]="150"></ngx-datatable-column>
                                    <ngx-datatable-column name="Telephone" [width]="190"></ngx-datatable-column>--> 
                                    <ngx-datatable-column name="Nom Utilisateur" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="Numero Cin" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="profession" [width]="200"></ngx-datatable-column>
                                    


                                    <!-- <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                                    </ngx-datatable-column> -->
                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="120">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                    data-target="#editModal" (click)='editRow(row)'>
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                                <button class="btn tblActnBtn h-auto" (click)='deleteRow(row)'>
                                                    <i class="material-icons">delete</i>
                                                </button>
                                                <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                data-target="#detailModal" (click)='detailRow(row)'>
                                                <i class="material-icons">description</i>
                                            </button>

                                               <!-- <button class="btn tblActnBtn h-auto" (click)='detailRow(row)'>
                                                    <i class="material-icons">description</i>
                                                </button>-->
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                                <!-- Add Record Modal Window -->
                                <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="editRowModal">
                                                    <div class="modal-header clearfix">
                                                        <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                        <div class="modal-about">
                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                 Inscription</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn p-t-10 modal-close-button"
                                                    data-dismiss="modal" aria-label="Close">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <form [formGroup]="addRowForm" (ngSubmit)="onAddRowSave(addRowForm)">
                                                    <!-- <div class="input-field col s12 d-none">
                                                        <input formControlName="nom" class="form-control" type="hidden">
                                                    </div>
                                                    <div class="input-field col s12 d-none">
                                                        <input formControlName="prenom" class="form-control" type="hidden">
                                                    </div> -->
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="nom" class="form-control"
                                                                placeholder="Nom ">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="prenom" class="form-control"
                                                                placeholder="Prénom">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">credit_card</i>
                                                            <input formControlName="numeroCin" class="form-control"
                                                                placeholder="Numéro CIN ">
                                                        </div>
                                                      
                                                        <div class="input-field col s6 form-line">
                                                            <i class="material-icons prefix">date_range</i>

                                                            <input type="date" formControlName="dateDeNaissance" class="form-control date"
                                                                placeholder="Ex: 30/07/2016">
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">phone</i>
                                                            <input formControlName="telephone" class="form-control"
                                                                placeholder="Téléphone">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">face</i>
                                                            <div
                                                                class="p-l-40 input-field materialize-select col s12 ngx-table-form-select">
                                                                <div class="form-group default-select">
                                                                    <label>proffesion</label>
                                                                <select formControlName="profession" class="form-control select2" data-placeholder="Select">
                                                                    
                                                                    <option>Prestataire</option>
                                                                    <option>Expert</option>
                                                                    <option>Assuré</option>
                                                                </select>

</div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="nomUtilisateur" class="form-control"
                                                                placeholder="Nom Utilisateur ">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <!-- <i class="material-icons prefix">perm_identity</i> -->
                                                            <i class="material-icons prefix">vpn_key</i>
                                                            <input type="password" formControlName="motDePasse" class="form-control"
                                                                placeholder="Mot De Passe">
                                                        </div>
                                                        <!-- <div class="input-field col s12">
                                                            <i class="material-icons prefix">mail_outline</i>
                                                            <input formControlName="email" class="form-control"
                                                                placeholder="Email">
                                                        </div> -->
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">store_mall_directory</i>
                                                            <input formControlName="adresse" class="form-control"
                                                                placeholder="Adresse">
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">store_mall_directory</i>
                                                            <input formControlName="numContratAssurance" class="form-control"
                                                                placeholder="Numero de contrat">
                                                        </div>

                                                    </div>


                                                       
                                                    <div class="modal-header">
                                                        <div class="editRowModal">
                                                            <div class="modal-header clearfix">
                                                                <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                <div class="modal-about">
                                                                    <div class="font-weight-bold p-t-10 font-17">
                                                                         Information sur la voiture</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">directions_car</i>
                                                            <input formControlName="marque" class="form-control"
                                                                placeholder="Marque ">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">directions_car</i>
                                                            <input formControlName="couleur" class="form-control"
                                                                placeholder="Couleur">
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">credit_card</i>
                                                            <input formControlName="numeroPermis" class="form-control"
                                                                placeholder="Numéro de permis ">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">credit_card</i>
                                                            <input formControlName="numeroImmatriculation" class="form-control"
                                                                placeholder="Numéro d'immatriculation">
                                                        </div>
                                                    </div>


                                                    <div class="modal-header">
                                                        <div class="editRowModal">
                                                            <div class="modal-header clearfix">
                                                                <!-- <img [src]='newUserImg' alt="avatar"> -->
                                                                <div class="modal-about">
                                                                    <div class="font-weight-bold p-t-10 font-17">
                                                                         Information sur la société d'assurance</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">account_balance</i>
                                                            <input formControlName="nomAssurance" class="form-control"
                                                                placeholder="Nom d'assurance ">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">store_mall_directory</i>
                                                            <input formControlName="adresse" class="form-control"
                                                                placeholder="Adresse">
                                                        </div>
                                                    </div>





                                                    <div class="modal-footer">
                                                        <div class="button-demo">
                                                            <button type="submit"
                                                                class="btn btn-outline-success btn-border-radius">Enregistrer</button>
                                                            <button type="button"
                                                                class="btn btn-outline-warning btn-border-radius"
                                                                data-dismiss="modal">Annuler</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Edit Record Modal Window -->
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="editRowModal">
                                                    <div class="modal-header clearfix">
                                                        <div class="modal-about">
                                                            <div class="font-weight-bold p-t-10 font-17">
                                                                 Modification</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn p-t-10 modal-close-button"
                                                    data-dismiss="modal" aria-label="Close">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="basicForm" (ngSubmit)="onEditSave(basicForm)">

                                                  
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="nom" class="form-control"
                                                                placeholder="Nom " >
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="prenom" class="form-control"
                                                                placeholder="Prénom" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">credit_card</i>
                                                            <input formControlName="numeroCin" class="form-control"
                                                                placeholder="Numéro CIN " disabled>
                                                        </div>
                                                      
                                                        <div class="input-field col s6 form-line">
                                                            <i class="material-icons prefix">date_range</i>

                                                            <input type="date" formControlName="dateDeNaissance" class="form-control date"
                                                                placeholder="Ex: 30/07/2016" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">phone</i>
                                                            <input formControlName="telephone" class="form-control"
                                                                placeholder="Téléphone">
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">face</i>
                                                            <div
                                                                class="p-l-40 input-field materialize-select col s12 ngx-table-form-select">
                                                                <select formControlName="profession" class="form-control" disabled>
                                                                    <option value="" disabled selected>Select Profession
                                                                    </option>
                                                                    <option value="Expert">Expert</option>
                                                                    <option value="Préstataire">Préstataire</option>
                                                                    <option value="Assuré">Assuré</option>
                                                                </select>
                                                            </div>
                                                        </div>   
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="nomUtilisateur" class="form-control"
                                                                placeholder="Nom Utilisateur " disabled>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <!-- <i class="material-icons prefix">perm_identity</i> -->
                                                            <i class="material-icons prefix">vpn_key</i>
                                                            <input type="password" formControlName="motDePasse" class="form-control"
                                                                placeholder="Mot De Passe">
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <i class="material-icons prefix">store_mall_directory</i>
                                                                <input formControlName="adresse" class="form-control"
                                                                    placeholder="Adresse">
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="button-demo">
                                                            <button type="submit"
                                                                class="btn btn-outline-success btn-border-radius">Modifier</button>
                                                            <button type="button"
                                                                class="btn btn-outline-warning btn-border-radius"
                                                                data-dismiss="modal">Annuler</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Detail Record Modal Window -->


                                <div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="detailRowModal">
                                                <div class="modal-header clearfix">
                                                    <div class="modal-about">
                                                        <div class="font-weight-bold p-t-10 font-17">
                                                             Voir tous les details</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn p-t-10 modal-close-button"
                                                data-dismiss="modal" aria-label="Close">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
            


                                            <form [formGroup]="basicForm" (ngSubmit)="onEditSave(basicForm)">

                                                  
                                                <div class="row">
                                                    <div class="input-field col s6">
                                                        <i class="material-icons prefix">perm_identity</i>
                                                        <input formControlName="nom" class="form-control"
                                                            placeholder="Nom " disabled>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <i class="material-icons prefix">perm_identity</i>
                                                        <input formControlName="prenom" class="form-control"
                                                            placeholder="Prénom" disabled>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s6">
                                                        <i class="material-icons prefix">credit_card</i>
                                                        <input formControlName="numeroCin" class="form-control"
                                                            placeholder="Numéro CIN " disabled>
                                                    </div>
                                                  
                                                    <div class="input-field col s6 form-line">
                                                        <i class="material-icons prefix">date_range</i>

                                                        <input type="date" formControlName="dateDeNaissance" class="form-control date"
                                                            placeholder="Ex: 30/07/2016" disabled>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">phone</i>
                                                        <input formControlName="telephone" class="form-control"
                                                            placeholder="Téléphone" disabled>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <i class="material-icons prefix">face</i>
                                                        <div
                                                            class="p-l-40 input-field materialize-select col s12 ngx-table-form-select">
                                                            <select formControlName="profession" class="form-control" disabled>
                                                                <option value="" disabled selected>Select Profession
                                                                </option>
                                                                <option value="Expert">Expert</option>
                                                                <option value="Préstataire">Préstataire</option>
                                                                <option value="Assuré">Assuré</option>
                                                            </select>
                                                        </div>
                                                    </div>   
                                                </div>
                                                <div class="row">
                                                   
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">store_mall_directory</i>
                                                            <input formControlName="adresse" class="form-control"
                                                                placeholder="Adresse" disabled>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">perm_identity</i>
                                                            <input formControlName="nomUtilisateur" class="form-control"
                                                                placeholder="Nom Utilisateur " disabled>
                                                        </div>
                                                </div>

                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">account_balance</i>
                                                        <input formControlName="nomAssurance" class="form-control"
                                                            placeholder="Nom d'assurance:" disabled>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <i class="material-icons prefix">perm_identity</i>
                                                        <input formControlName="adresseAssurance" class="form-control"
                                                            placeholder="Adresse d'assurance: " disabled>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">credit_card</i>
                                                    <input formControlName="numContratAssurance" class="form-control"
                                                        placeholder="Numéro de contrat d'assurance:" disabled>
                                                </div>
                   
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">directions_car</i>
                                                <input formControlName="couleur" class="form-control"
                                                    placeholder="Couleur:" disabled>
                                            </div>
                                            <div class="input-field col s6">
                                                <i class="material-icons prefix">directions_car</i>
                                                <input formControlName="marque" class="form-control"
                                                    placeholder="Marque de voiture:" disabled>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">credit_card</i>
                                            <input formControlName="numeroImmatriculation" class="form-control"
                                                placeholder="Numéro d'immatriculation:" disabled>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">credit_card</i>
                                            <input formControlName="numeroPermis" class="form-control"
                                                placeholder="Numéro de permis:" disabled>
                                        </div>
                                </div>
                                                </div>
                                            </form>







                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>