<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title"> Indemnisations </h4>
                        </li>
                        <!-- <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Tables</a>
                        </li>
                        <li class="breadcrumb-item active">ngx-datatable</li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="ngx-search" placeholder="Chercher ...."
                                    (keyup)='filterDatatable($event)'>
                                <ngx-datatable #table class="material" [rows]="listDemandes" [columns]="cols"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [limit]="10">

                                    <ngx-datatable-column name="nomAssure" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="Demande" [width]="200"></ngx-datatable-column>
                                    <ngx-datatable-column name="Rapport" [width]="200">
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Décision" sortable="false" [width]="120">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span>
                                                
                        

                                            <!---  <button class="btn tblActnBtn h-auto" (click)='acceptRow(row)'>
                                                    <i class="fas fa-check col-green"></i>
                                               </button>
                                               
                                            -->

                                                <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                    data-target="#detailModal" type="submit" (click)="accepterIndemnisation()">
                                                    <i class="fas fa-check col-green"></i>
                                                </button>
                                            
                                                <span>

                                                    <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                        data-target="#detailModal" type="submit" (click)="refusIndemnisation()">
                                                       
                                                        <i class="fas fa-times col-red"></i>
                                                    </button>
                                                    
    
                                                    <!-- <button class="btn tblActnBtn h-auto" (click)='detailRow(row)'>
                                                        <i class="material-icons">description</i>
                                                    </button>-->
                                                </span>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                </ngx-datatable>





                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                      
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            